--- 
extends: _layouts.post 
section: content 
image: https://www.gannett-cdn.com/presto/2020/09/30/PPHX/d59db3e7-b9fc-4dc3-8fac-213d6aedc296-lucaspic4foot.jpg?crop=3599,2025,x0,y0&width=3200&height=1801&format=pjpg&auto=webp 
title: > 
  As high school athletes test positive and games canceled, parents debate hiding COVID-19 test results 
description: > 
  PHOENIX – Some parents debated whether to hide their kids' COVID-19 test results last week after at least two Phoenix-area high schools canceled football games because students tested positive.In the Cave Creek Unified School District, at least 100 students from Cactus Shadows High School were in quarantine this week after students began testing positive for COVID-19, according to a district spokeswoman.Brad Schweigert, a Cave Creek resident and father of a quarterback at Notre Dame Prep, posted in the group last week, calling on parents to "manage COVID-19 testing ourselves" and keep the test results private.360Care advertises rapid COVID-19 testing for $75 with "results in 5 minutes" on its website.According to AIA guidelines for returning to athletic activity, for every team with 25 or more players, there must be more than two positive COVID-19 cases per team to suspend athletic activity. 
date: 1602292340.1976347 
--- 
PHOENIX – Some parents debated whether to hide their kids' COVID-19 test results last week after at least two Phoenix-area high schools canceled football games because students tested positive.

In the Cave Creek Unified School District, at least 100 students from Cactus Shadows High School were in quarantine this week after students began testing positive for COVID-19, according to a district spokeswoman.

Cactus Shadows canceled its first two junior varsity and varsity football games of the season, and six students had tested positive after the district returned to in-person classes on Sept. 8. The district would not confirm how many of the cases were student athletes.

The Scottsdale Unified School District announced last week that a member of Chaparral High School's varsity football team had tested positive and that the school's first two junior varsity and varsity football games would be canceled as players quarantined for 14 days. The district's superintendent later clarified to The Arizona Republic, part of the USA TODAY Network, that two athletes had tested positive.

After the games were canceled, a Facebook page called “Parents in Support of 2020 Football in Arizona" has been picking up steam and has more than 1,400 members.

Brad Schweigert, a Cave Creek resident and father of a quarterback at Notre Dame Prep, posted in the group last week, calling on parents to "manage COVID-19 testing ourselves" and keep the test results private.

"If the results are positive, then keep him away from the team and tell your coaches he needs a couple weeks off for “personal” reasons," Schweigert wrote.

Schweigert said in his post that they'd "worked out a deal" with 360Care, a testing provider, to test football families at discounted rates, and that the tests would not be reported to the county.

"I do think we must take control of this issue and manage it ourselves as a parent group," he wrote. "We have already seen the results on how this will be managed for us if we leave it up to county health and school officials."

Schweigert said he floated the idea as a safer option. "I’ve seen several people already suggest that no players should get tested for the rest of the season. The way I see it, the plan we have laid out is a much safer and more responsible alternative," he said in the post.

Schweigert's post said 360Care had given football families a code to use for $10 off a test, and that results would not be reported to the county.

Tara Thompson, the owner of 360Care, told The Republic the tests in question assess the antibody response of patients and don't have to be reported to the county like traditional diagnostic tests that are taken through nasal swabs or saliva.

But any company that acts as a lab and is using COVID-19 tests approved by the FDA is required to report test results to the Arizona Department of Health Services, according to a health department spokesperson.

What reporting is required under law?

360Care advertises rapid COVID-19 testing for $75 with "results in 5 minutes" on its website.

Thompson said she partners with BioLab Sciences,a Scottsdale company, to use FDA-approved tests to provide "concierge COVID" services straight to people's homes.

The testing administered by 360Care uses a fingerprick of blood to detect if someone has produced an immune response to fight off the virus, according to Thompson. She said these tests are considered presumptive testing and not reported.

Thompson said individuals who test positive on the presumptive testing also receive a traditional diagnostic COVID-19 swab or saliva test, which she said is reported to the Centers for Disease Control and Prevention.

But an ADHS spokesperson said that all COVID-19 lab results are required to be reported to the state.

'Absolutely unacceptable'

David Hines, the executive director of the Arizona Interscholastic Association (AIA), called the suggestion of hiding tests “absolutely unacceptable.”

“The bottom line is we want to protect kids,” Hines said. “We have been given an opportunity to play. Everyone has to follow the procedures. Whether it’s the fans, the players and the coaches, there are protocols to help reduce the chances of people getting it."

Scottsdale Superintendent Scott Menzel said that parents are required to report their children's positive diagnoses under a commitment to the district that each parent signed.

"If we can't trust that our parents are partnering with us to ensure the health, safety and well being of their student athlete and all those that they participate with, that creates a different challenge for us," Menzel said. "We want everyone to be able to operate in community together, and that means being up front when someone's sick."

Scottsdale school board member Jann-Michael Greenburg said the district was looking into how to respond to parents of athletes about Schweigert's Facebook post, including consequences for not sharing results.

"I think it's worthwhile being firm here that at no time should you be dishonest or lie just to play a sport for another week," Greenburg said.

Greenburg said he empathized with how important the football season was to student athletes, but that public health and education needed to be the district's priorities.

Failure to control the spread of the virus could quickly lead to students missing classes and teachers getting sick, he said.

Parents want to play

Schweigert said in his post that if programs continued to shut down each time there was a positive case, "our chances to make it through a season are slim to none!"

Schweigert told The Republic this week that he floated the idea of families using at-home testing resources "as a safer, better alternative" after rumors began circulating that football families were considering avoiding testing altogether.

"That didn’t seem like a safe approach to me," Schweigert said.

He said he has since heard that the Sports Medicine Advisory Committee board and the AIA were in the process of modifying the guidelines to allow “close contacts” of students who test positive to return immediately if they produce a negative test.

"That modification to the guidelines definitely changes my perspective on it," Schweigert said. "I think it is a much more reasonable approach."

Aaron Minor, who is president of the Chaparral Football Foundation Board and whose son is a senior wide receiver at the school, said he has been in discussions with the Scottsdale district about why players were forced to quarantine for 14 days.

The district announced on Sept. 30 that one player had tested positive for COVID-19, two days before Chaparral’s opener. The first two games were canceled.

Minor and other parents have criticized the move to cancel the games, arguing that a single positive case did not meet the criteria for suspension of activities.

An outbreak is defined as two or more COVID-19 cases among students or staff within a 14-day period, according to the AIA.

According to AIA guidelines for returning to athletic activity, for every team with 25 or more players, there must be more than two positive COVID-19 cases per team to suspend athletic activity. For teams with less than 25 members, activities will be paused if there are two positive cases.

In the event the number of positive cases are reached, team activities should be paused for a minimum of eight days from the last exposure of the team to the sick individual, according to the guidelines.

Menzel, the Scottsdale superintendent, said the district did not want to shut down football games, but that two student athletes have now tested positive, which meets the county's criteria for classifying an outbreak at the school.

The district was following the guidance of the Maricopa County Department of Health in canceling the games and quarantining players that were potentially exposed, Menzel said.

Menzel said the district is taking steps to clarify how the county classifies cases, in addition to conducting contact tracing to determine which students and faculty may need to quarantine for a longer period of time.

"Ultimately our commitment is to ensuring as best we can, the health, safety and well-being of our student athletes, of our coaches, and of our larger community," Menzel said.

Follow Lorraine Longhi on Twitter @lolonghi.